/*
Theme Name: CPE Brasil
Theme URI: http://cpedobrasil.ind.br/
Version: 1.0
Description: Tema desenvolvido exclusivamente para http://cpedobrasil.ind.br/
Tags: 
Author: Lucas Moreira
Author URI: http://lucasmoreira.com.br/
License: GNU General Public License version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cpedobrasil.ind.br
*/

body {
    font-family: "Myriad", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #444;
}
.padding-vertical-40 {
    padding: 40px 0;
}
.main-header {
    padding: 15px 0;
}

.main-header .fa {
    border: solid 3px #ddd;
    color: #F6A933;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    -moz-border-radius: 50px;
}

.main-header ul {
    margin-top: 10px;
}

.main-header li {
    float: left;
    margin-right: 20px;
}

.main-header li:last-child {
    margin-right: 0;
}

@media all and ( max-width: 768px ) {
    .logo {
        text-align: center;
    }
}

.main-header .info {
    color: #888;
    font-size: 12px;
}

.main-header .info > h6 {
    color: #222;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    display: block;
}

.main-menu {
    background-color: #2F3C7A;
    color: white;
    padding: 20px 0 18px 0;
}

.main-menu .navbar {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.main-menu li {
    padding-left: 15px;
    padding-right: 15px;
}

@media all and ( max-width: 1200px ) {
    .main-menu li {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-menu .nav a,
.main-menu .nav a:link,
.navbar-default .navbar-nav > li > a {
    color: #efefef;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

.main-menu .nav a:hover,
.navbar-default .navbar-nav > .current-menu-item > a,
.navbar-default .navbar-nav > .current-menu-item > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-family: "Myriad", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.navbar-default .navbar-nav > .current-menu-item > a,
.navbar-default .navbar-nav > .current-menu-item > a:hover {
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
    color: #E7AC53;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    border: none;
    background-color: white;
    color: white;
    opacity: .5;
    -moz-opacity: .5;
}

.navbar-collapse {
    box-shadow: none;
    -webkit-box-shadow: none;
}


.main-banner {
    height: 400px;
    background-color: #efefef;
}

.main-banner-page-bg {
    height: 193px;
    background-image: url('img/banner.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .1;
    -moz-opacity: .1;
}

.main-banner-page-content {
    position: relative;
    margin-top: -200px;
}

.main-banner-page-content h3 {
    margin: 0;
    padding-top: 90px;
    font-size: 30px;
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
    opacity: 1;
    -moz-opacity: 1;
}

.main-banner-overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f3c7a+0,2f3c7a+100&1+0,0+100 */
    /*
    background: -moz-linear-gradient(45deg,  rgba(47,60,122,1) 0%, rgba(47,60,122,0) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(47,60,122,1) 0%,rgba(47,60,122,0) 100%);
    background: linear-gradient(45deg,  rgba(47,60,122,1) 0%,rgba(47,60,122,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3c7a', endColorstr='#002f3c7a',GradientType=1 );   
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 99;
    */
   
    background-color: #2F3C7A;
    opacity: .5;
    -moz-opacity: .5;

    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 99;
}

.categories-list a,
.categories-list a:link {
    color: #555;
    font-family: "Myriad", Arial, Helvetica, sans-serif;
    margin: 10px 10px 0 0;
    display: inline-block;
}

.categories-list a:hover {
    color: #E7AC53;
    text-decoration: none;
}

.carousel {
    height: 400px;
}

.product-thumbnails img,
a.fancybox img {
    max-width: 100%;
}

.product-thumbnails .col {
    margin-bottom: 20px;
}

form input.form-control {
    border-radius: 0;
    -moz-border-radius: 0;
    line-height: 50px;
    height: 50px;
}

form textarea.form-control {
    border-radius: 0;
    -moz-border-radius: 0;
}

form .btn-warning {
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 0;
    -moz-border-radius: 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

form .btn-warning:hover {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

th {
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
}

.carousel-inner .item {
    background-image: url('img/banner.jpg');
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.carousel-indicators li {
    border: none;
    width: 13px;
    height: 13px;
    background-color: #2D4278;
}

.carousel-indicators li.active {
    border: none;
    background-color: #E7AC53;
    width: 15px;
    height: 15px;
}

.carousel-indicators,
.carousel-caption {
    z-index: 99999 !important;
}

.carousel-caption {
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 100px;
    width: 100%;
    left: 0;
}

.carousel-caption .btn-warning {
    border-radius: 0;
    -moz-border-radius: 0;
    padding: 20px;
    font-size: 17px;
    font-family: "Myriad", Arial, Helvetica, sans-serif;
    text-transform: none;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.carousel-caption .btn-warning:hover {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

h3 {
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-transform: none !important;
}
.h-separator {
    height: 3px;
    background-color: #E7AC53;
    width: 111px;
    display: inline-block;
}
.the-category {
    cursor: pointer;
    margin-bottom: 35px;
}
.the-category:hover .the-category-name {
    opacity: 1;
    -moz-opacity: 1;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.the-category-cover {
    background-image: url('img/demo-cover.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 240px;
}
.the-category-name {
    background-color: #2F3C7A;
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 190px;
    opacity: .8;
    -moz-opacity: .8;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.company-values {
    background-image: url('img/banner.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 330px;
    color: white;
}

.company-values-overlay {
    background-color: #2F3C7A;
    opacity: .8;
    -moz-opacity: .8;
    display: block;
    width: 100%;
    min-height: 330px;
    position: absolute;
    z-index: 8;
}

.company-values-content {
    z-index: 99;
    position: relative;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
}

.company-values-content h3 {
    margin-bottom: -5px;
    padding-bottom: 0;
}

.partners {
    background-color: #efefef;
}

.the-partner {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #444;
    margin-bottom: 35px;
}

.the-partner a,
.the-partner a:link {
    color: #444;
    text-decoration: none;
}

.the-partner:hover .the-partner-logo {
    opacity: 1;
    -moz-opacity: 1;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    text-decoration: none;
}

.the-partner-logo {
    background-image: url('img/partner.jpg');
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: block;
    opacity: .8;
    -moz-opacity: .8;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

.locations {
    text-align: center;
}

.locations li {
    padding-left: 20px;
    padding-right: 20px;
}

.locations a,
.locations a:link {
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #444;
    text-decoration: none;
}

.locations a:hover {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #2D4676;
    color: #efefef;
    font-size: 14px;
}

footer a,
footer a:link {
    color: #efefef;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer h4 {
    font-size: 18px;
    font-family: "MyriadBold", Arial, Helvetica, sans-serif;
}

.newsletter input {
    background-color: #233654;
    border: none;
    line-height: 50px;
    height: 50px;
    border-radius: 0;
    -moz-border-radius: 0;
    margin-bottom: 10px;
}

.newsletter button {
    background-color: #E7AC53;
    border: none;
    line-height: 35px;
    height: 50px;
    border-radius: 0;
    -moz-border-radius: 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.newsletter button:hover {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

footer .copyright {
    background-color: #223455;
}

footer .copyright,
footer .copyright a,
footer .copyright a:link {
    color: #efefef;
    font-size: 13px;
    text-decoration: none;
}

footer .copyright .container {
    padding-top: 15px;
    padding-bottom: 15px;
}



.separator {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1px;
    clear: both;
}
.separator-10 {margin: 5px 0;}
.separator-20 {margin: 10px 0;}
.separator-30 {margin: 15px 0;}
.separator-40 {margin: 20px 0;}
.separator-50 {margin: 25px 0;}
.separator-60 {margin: 30px 0;}
.separator-70 {margin: 35px 0;}
.separator-80 {margin: 40px 0;}
.separator-90 {margin: 45px 0;}
.separator-100 {margin: 50px 0;}